<h1>Custom type-ahead component</h1>

<app-autocomplete (selected)="onSelected($event)" placeholder="Choose your drink..."></app-autocomplete>
<p>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et mi in nisl auctor dignissim. Duis non sollicitudin nibh, vel pellentesque enim. Integer condimentum, ex faucibus ullamcorper semper, mauris erat consequat nulla, ornare feugiat neque tortor in nisi. Mauris eu dolor id erat bibendum lacinia. Mauris dignissim metus vel interdum tempus. Aenean egestas risus ante, sit amet condimentum odio cursus sed. Nam ut turpis vel quam varius tristique. Vestibulum convallis lectus sed eros laoreet feugiat. Aliquam erat volutpat. Vivamus sit amet felis arcu. Suspendisse potenti. Duis id sagittis neque, non tincidunt ex. Donec pretium mattis eros.

  Nunc porttitor, augue consequat ultrices tempor, nisi mi rutrum nibh, sit amet volutpat purus mauris sed felis. Duis eu est vel justo sagittis imperdiet id nec metus. Praesent varius vulputate maximus. Nulla sit amet neque luctus, vestibulum nisi sit amet, blandit diam. Vivamus nec dictum quam. Suspendisse sollicitudin aliquet erat a rutrum. Cras in eros at felis molestie commodo. Fusce volutpat velit eget pharetra iaculis. Integer suscipit ut sem a malesuada. Aliquam erat volutpat. </p>
